head
    link(rel='stylesheet' href='/static/stylesheets/css/cardEditModal.css')
body
    #edit-modal
        .modal-header
            div Edit note 
            img(src='/static/icon/close.png')
        .modal-content
            p Some text in the Modal..
