head
    link(rel='stylesheet' href='/static/stylesheets/css/cardEditModal.css')
body
    #edit-modal
        .modal-header
            div Edit note 
            div X
        .modal-content
            p Some text in the Modal..
