.card
  img.document-icon(src='/static/images/document.svg')
  .content-container
    .content-wrapper
      .title 웹팩으로 파일 번들링
      .added-by 
        span Added by 
        span.strong choibumsu
    img.remove-icon(src='/static/images/remove-btn.svg')