section.column
  .title-bar
    .title-wrapper 
      .card-count 113
      .title To Do
    .btn-wrapper
      img.add-btn(src='/static/images/plus-btn.svg')
      img.remove-btn(src='/static/images/remove-btn.svg')
  .content-container
    include ./CardForm.pug
    include ./Card.pug
