doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/static/stylesheets/css/common/base.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/header.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/sidebar.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/modal.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/column.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/cardForm.css')
        title 메인페이지
    body
        include ./Header.pug
        include ./Sidebar.pug
        include ./DeleteCardModal.pug
        //- include ./EditCardModal.pug
        //- include ./EditColumnModal.pug
        #column-container
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
