doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/static/stylesheets/css/common/base.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/loginForm.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/header.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/sidebar.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/cardEditModal.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/column.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/cardForm.css')
        link(rel='stylesheet' href='/static/stylesheets/css/components/card.css')
        title 메인페이지
    body
        include ./LoginForm.pug
        include ./Header.pug
        include ./Sidebar.pug
        include ./CardEditModal.pug
        #column-container
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
