doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/static/stylesheets/css/base.css')
        link(rel='stylesheet' href='/static/stylesheets/css/header.css')
        link(rel='stylesheet' href='/static/stylesheets/css/sidebar.css')
        link(rel='stylesheet' href='/static/stylesheets/css/cardEditModal.css')
        link(rel='stylesheet' href='/static/stylesheets/css/column.css')
        link(rel='stylesheet' href='/static/stylesheets/css/cardForm.css')
        title 메인페이지
    body
        include ./Header.pug
        include ./Sidebar.pug
        include ./CardEditModal.pug
        #column-container
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
            include ./Column.pug
