<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/static/stylesheets/css/common/base.css")
    link(rel="stylesheet", href="/static/stylesheets/css/components/login.css")
  body
    #login-page
      .login-container
        .title Welcome
        input(type="text", placeholder="Username")
        .login-btn.unactive Login