head
    link(rel='stylesheet' href='/static/stylesheets/css/components/modal.css')
body
    .big-box
    .modal
        .modal-header
            block header
            img(id='close',src='/static/images/remove-btn.svg')
        .modal-content
            block content
            block button
script(src="/static/javascripts/components/Modal.js",type="module")
