body
    .big-box
    .modal
        .modal-header
            block header
            img(id='close',src='/static/images/close.png')
        .modal-content
            block content
            block button

