head
    link(rel='stylesheet' href='/static/stylesheets/css/components/modal.css')
body
    .big-box
    #modal
        .modal-header
            block header
            img(src='/static/icon/close.png')
        .modal-content
            block content
            block button