#sidebar.dp-none
    .menu 
        img(src='/static/images/menu.png')
        div Menu
    .activity 
        img(src='/static/images/notification.png')
        div Activity
    include ./SidebarCard.pug