#sidebar.dp-none
    .menu 
        img(src='/static/images/menu.png')
        span Menu
    .activity 
        img(src='/static/images/notification.png')
        span Activity
    include ./SidebarCard.pug