#sidebar
    .menu 
        img(src='/static/icon/menu.png')
        span Menu
    .activity 
        img(src='/static/icon/notification.png')
        span Activity
    include ./SidebarCard.pug
script(src="/static/javascripts/SideBar.js",type="text/javascript")