@import '_definitions';
#sidebar {
    height: calc(100vh - 60px);
    position: absolute;
    flex-direction: column;
    width: $width-sidebar;
    color: $color-black;
    background-color: $color-white;
    border-top: solid 1px $color-gray-300;
    border-left: solid 1px $color-gray-300;
    border-right: solid 1px $color-gray-300;
    z-index: 1;
    right: 0px;
    overflow-y: auto;
}

#menu,
#activity {
    display: flex;
    align-items: center;
    background-color: $color-gray-200;
    border-bottom: solid 0.5px $color-gray-300;
    width: 100%;
    padding: 7px;
    font-size: 18px;
}

img {
    margin-right: 10px;
    height: 18px;
}

#sidebar__card {
    padding: 10px;
    background-color: $color-white;
    border-bottom: solid 1px$color-gray-300;
    min-height: 50px;
}