@import '../common/definitions';

#head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-white;
  background-color: $color-black;
  height: $height-nav;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}

#menu {
  cursor: pointer;
}
